<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Portfolio</title>
</head>

<body>
    <header>
        <a href="{{ url_for('home') }}"><img class="logo"
                src="{{ url_for('static', filename='images/Colm-Kelleher-Logo.png') }}"
                alt="Logo for Colm Kelleher"></a>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('skills') }}">Skills</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>
    <section id="bio">
        <div id="intro">
            <!-- Simple introduction. May introduce JavaScript here in the future to make it more appealing. -->
            <p>Hello,</p>
            <p>I am a Software Developer.</p>
        </div>
        <div>
            <img id="home-picture" src="{{ url_for('static', filename='images/Colm-Kelleher.jpeg') }}"
                alt="Profile picture">
            <!-- May add something that makes the picture move in some way to catch the viewers eye. -->
        </div>
    </section>
    <section id="experience">
        <!-- xperience section can be updated as I progress, complete new projects and learn new languages -->
        <div>
            <p>1 Year Experience</p>
        </div>
        <div>
            <p>1 Completed Project</p>
        </div>
        <div id="languages">
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
            <p>Python</p>
        </div>
    </section>
    <footer>
        <div class="footer-section links">
            <!-- Here are the nav items for easy access to the visitor of the web page -->
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
        <div>
            <p>&copy; 2024 Colm Kelleher. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>