<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Portfolio</title>
</head>

<body>
    <header>
        <a href="{{ url_for('home') }}"><img class="logo"
                src="{{ url_for('static', filename='images/Colm-Kelleher-Logo.png') }}"
                alt="Logo for Colm Kelleher"></a>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('skills') }}">Skills</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>
    <main class="skills-main">
        <!-- Grid container for showcasing the skills I've learned so far -->
        <div class="grid-container">
            <!-- Here are my languages learned so far -->
            <div class="first-row">
                <h3>Programming Languages</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Python</li>
                </ul>
            </div>
            <!-- Frameworks learned so far -->
            <div class="second-row">
                <h3>Frameworks</h3>
                <ul>
                    <li>Flask</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <!-- Tools used so far -->
            <div class="third-row">
                <h3>Tools</h3>
                <ul>
                    <li>Git</li>
                    <li>SQL</li>
                </ul>
            </div>
            <!-- Soft skills -->
            <div class="right-column">
                <h3>Soft Skills</h3>
                <ul>
                    <li>Teamwork and collaboration</li>
                    <li>Problem Solving</li>
                    <li>Excelent communication</li>
                    <li>Resilience</li>
                    <li>Time management</li>
                    <li>Problem solving</li>
                    <li>Adaptability</li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </div>
        <div>
            <p>&copy; 2024 Colm Kelleher. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>